body
{
  
  background-color: #000;
  color: #fff;
  
}





div {     
  font-size: 1.2em;
  vertical-align: middle;
  text-align: center;
   
}

.spruch {
  color:#29FFB8;
  font-family: 'Indie Flower' 
   
}

.subTitle{
  color:#29FFB8;
  font-size: 1.1em;
  font-family: 'Indie Flower' 
}

.mid-height{    
  height: 21vh; 
  margin-top: 4vh;
  padding-left: 2%;
  padding-right: 2%; 
  text-align: center;
  }

.absolute{
  position: absolute; 
  top:0px
}

.absoluteText{
  font-size: 1.1em;
  font-weight: bold;
  position: absolute; 
  top:30px;
  left: 40px;
  color:#25E8DE;

}
