div {      
  vertical-align: middle;
  text-align: center;
  
}

.title{
  color:#34A6BF;
  font-size: 2.2em;
  font-weight: bold;
  font-family: 'Indie Flower' 
}

.subTitle{
  color:#EF41EA;
  font-size: 1.5em;
  font-family: 'Indie Flower' 
}

.spruch {
  color:#EF41EA;
  font-family: 'Indie Flower' ;
  font-size: 1.4em;
   
}

.mid-height{    
  height: 19vh; 
  margin-bottom: 6vh;
}

.container {
  background-color: red;
  width: 100%;
  padding-top: 100%; /* 1:1 Aspect Ratio */
  position: relative; /* If you want text inside of it */
}

.image{
  max-height:17vh;
  padding-left: 2%;
  padding-right: 2%;   

}

.absolute {
  object-fit: cover;  
  position: absolute; 
  top:0px
}

.absoluteTextDay{
  font-size: 2em;
  font-weight: bold;
  position: absolute; 
  top: 10px;
  left: 40px;
  color:#A4E8B3;
}

.absoluteTextYear{
  font-size: 3em;
  font-weight: bold;
  position: absolute; 
  top: 10px;
  left: 50px;
  color:#B8AEBE;

}