div {      
  vertical-align: middle;
  text-align: center;
}

.title{
  color:#34A6BF;
  font-size: 2.2em;
  font-weight: bold;
  font-family: 'Indie Flower' 
}

.subTitle{
  color:#EF41EA;
  font-size: 1.7em;
  font-family: 'Indie Flower' 
}

.spruch {
  color:#EF41EA;
  font-family: 'Indie Flower' ;
  font-size: 1.7em;
   
}

.mid-height{    
  height: 19vh; 
  margin-bottom: 4vh;
  padding-left: 2%;
  padding-right: 2%; 
  text-align: center;
  }

.absolute{
  
  position: absolute; 
  top:0px
}

.absoluteText{
  font-size: 3em;
  font-weight: bold;
  position: absolute; 
  top: 10px;
  left: 40px;
  color:#A4E8B3;

}
