body
{
  font-family: Lato;
  background-color: #000;
  color: #fff;
}

img {
  
  height: 250px;  
  padding-left: 2%;
  padding-right: 2%;
  }

div {  
  
  font-size: 1.4em;
  vertical-align: middle;
  text-align: center;
  hor-align: center;
}

